In [150]:
# Import Dependencies 
import pandas as pd
import datetime

In [151]:
# Add in CSV's 
jan_csv = "Resources/Jan-2020-data.csv"
feb_csv = "Resources/Feb-2020-data.csv"
mar_csv = "Resources/Mar-2020-data.csv"
apr_csv = "Resources/Apr-2020-data.csv"
may_csv = "Resources/May-2020-data.csv"

In [152]:
# Create df's for each month and show them
jan_df = pd.read_csv(jan_csv)
feb_df = pd.read_csv(feb_csv)
mar_df = pd.read_csv(mar_csv)
apr_df = pd.read_csv(apr_csv)
may_df = pd.read_csv(may_csv)

In [153]:
jan_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [154]:
feb_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,841,2020-02-01 00:02:13.7650,2020-02-01 00:16:15.4720,3199,Newport Pkwy,40.728745,-74.032108,3213,Van Vorst Park,40.718489,-74.047727,42217,Subscriber,1980,1
1,206,2020-02-01 00:16:11.3850,2020-02-01 00:19:37.4460,3273,Manila & 1st,40.721651,-74.042884,3639,Harborside,40.719252,-74.034234,42160,Subscriber,1990,1
2,859,2020-02-01 00:23:22.1090,2020-02-01 00:37:41.5060,3185,City Hall,40.717732,-74.043845,3268,Lafayette Park,40.713464,-74.062859,42204,Customer,1991,1
3,693,2020-02-01 00:25:14.5170,2020-02-01 00:36:48.0280,3185,City Hall,40.717732,-74.043845,3277,Communipaw & Berry Lane,40.714358,-74.066611,42165,Subscriber,1987,1
4,1473,2020-02-01 00:32:30.5050,2020-02-01 00:57:04.3740,3192,Liberty Light Rail,40.711242,-74.055701,3639,Harborside,40.719252,-74.034234,26156,Customer,1969,0

In [155]:
mar_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,389,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,1
1,242,2020-03-01 00:48:06.4390,2020-03-01 00:52:08.9870,3185,City Hall,40.717732,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,1
2,124,2020-03-01 01:08:46.4880,2020-03-01 01:10:51.2780,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,0
3,104,2020-03-01 01:22:35.4790,2020-03-01 01:24:20.2470,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,1
4,228,2020-03-01 01:39:20.2680,2020-03-01 01:43:09.1380,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,1

In [156]:
apr_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1437,2020-04-01 01:06:20.6300,2020-04-01 01:30:17.9680,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42314,Customer,2002,2
1,264,2020-04-01 05:02:42.0570,2020-04-01 05:07:06.1260,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,-74.063913,42146,Subscriber,1963,2
2,254,2020-04-01 06:20:28.1190,2020-04-01 06:24:42.1380,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,42255,Subscriber,1981,1
3,429,2020-04-01 06:33:30.5170,2020-04-01 06:40:40.1990,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42529,Subscriber,1964,1
4,805,2020-04-01 06:38:32.9220,2020-04-01 06:51:58.2050,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,42362,Subscriber,1965,1

In [157]:
may_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,349,2020-05-01 00:09:45.5860,2020-05-01 00:15:35.2930,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,42581,Customer,1969,0
1,138,2020-05-01 01:11:22.5280,2020-05-01 01:13:41.2460,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42105,Subscriber,1949,1
2,229,2020-05-01 05:31:29.5350,2020-05-01 05:35:19.2400,3483,Montgomery St,40.719420,-74.050990,3186,Grove St PATH,40.719586,-74.043117,42320,Customer,1984,1
3,261,2020-05-01 05:51:39.3960,2020-05-01 05:56:00.9370,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,42170,Subscriber,1974,2
4,168,2020-05-01 06:06:31.9510,2020-05-01 06:09:20.1410,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,42352,Subscriber,1966,1

In [158]:
# concat all df's together 
all_months_df = pd.concat([jan_df, feb_df, mar_df, apr_df, may_df], axis=0)

# Display results
all_months_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25072,395,2020-05-31 23:35:50.9460,2020-05-31 23:42:26.5300,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,42250,Subscriber,1992,1
25073,1681,2020-05-31 23:38:30.8240,2020-06-01 00:06:32.0360,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42396,Customer,1997,1
25074,1657,2020-05-31 23:39:07.2680,2020-06-01 00:06:44.5740,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42331,Customer,1987,1
25075,420,2020-05-31 23:45:28.3290,2020-05-31 23:52:28.3680,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,40517,Subscriber,1999,1
25076,87,2020-05-31 23:50:55.8390,2020-05-31 23:52:23.0920,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,42314,Subscriber,1976,1

In [159]:
# Alter gender column 
gender_count = {0: 'Unknown', 1: 'Male', 2: 'Female'}

# Use map to alter gender values 
all_months_df['gender'] = all_months_df['gender'].map(gender_count)

# Display updated df
all_months_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,Female
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,Female
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,Male
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,Unknown
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25072,395,2020-05-31 23:35:50.9460,2020-05-31 23:42:26.5300,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,42250,Subscriber,1992,Male
25073,1681,2020-05-31 23:38:30.8240,2020-06-01 00:06:32.0360,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42396,Customer,1997,Male
25074,1657,2020-05-31 23:39:07.2680,2020-06-01 00:06:44.5740,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42331,Customer,1987,Male
25075,420,2020-05-31 23:45:28.3290,2020-05-31 23:52:28.3680,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,40517,Subscriber,1999,Male
25076,87,2020-05-31 23:50:55.8390,2020-05-31 23:52:23.0920,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,42314,Subscriber,1976,Male

In [160]:
# Calculate current year to count ages
current_year = datetime.datetime.now().year
current_year

2023

In [161]:
# Count ages based on current year
all_months_df['Age'] = current_year - all_months_df['birth year']

# Define age groups
age_groups = [(16,19), (20,29), (30,39), (40,49), (50,59), (60,100)]

In [162]:
# Create a column for age groups
all_months_df['Age Group'] = pd.cut(all_months_df['Age'], bins=[start for start, end in age_groups] + [age_groups[-1][1] + 1], labels=['16-19', '20-29', '30-39', '40-49', '50-59', '60+'])

In [163]:
print(all_months_df)

       tripduration                 starttime                  stoptime  \
0               226  2020-01-01 00:04:50.1920  2020-01-01 00:08:37.0370
1               377  2020-01-01 00:16:01.6700  2020-01-01 00:22:19.0800
2               288  2020-01-01 00:17:33.8770  2020-01-01 00:22:22.4420
3               435  2020-01-01 00:32:05.9020  2020-01-01 00:39:21.0660
4               231  2020-01-01 00:46:19.6780  2020-01-01 00:50:11.3440
...             ...                       ...                       ...
25072           395  2020-05-31 23:35:50.9460  2020-05-31 23:42:26.5300
25073          1681  2020-05-31 23:38:30.8240  2020-06-01 00:06:32.0360
25074          1657  2020-05-31 23:39:07.2680  2020-06-01 00:06:44.5740
25075           420  2020-05-31 23:45:28.3290  2020-05-31 23:52:28.3680
25076            87  2020-05-31 23:50:55.8390  2020-05-31 23:52:23.0920

       start station id start station name  start station latitude  \
0                  3186      Grove St PATH               40.719586
1                  3186      Grove St PATH               40.719586
2                  3186      Grove St PATH               40.719586
3                  3195            Sip Ave               40.730897
4                  3186      Grove St PATH               40.719586
...                 ...                ...                     ...
25072              3202       Newport PATH               40.727224
25073              3199       Newport Pkwy               40.728745
25074              3199       Newport Pkwy               40.728745
25075              3195            Sip Ave               40.730897
25076              3272       Jersey & 3rd               40.723332

       start station longitude  end station id  end station name  \
0                   -74.043117            3211        Newark Ave
1                   -74.043117            3269   Brunswick & 6th
2                   -74.043117            3269   Brunswick & 6th
3                   -74.063913            3280       Astor Place
4                   -74.043117            3276  Marin Light Rail
...                        ...             ...               ...
25072               -74.033759            3276  Marin Light Rail
25073               -74.032108            3199      Newport Pkwy
25074               -74.032108            3199      Newport Pkwy
25075               -74.063913            3679        Bergen Ave
25076               -74.045953            3211        Newark Ave

       end station latitude  end station longitude  bikeid    usertype  \
0                 40.721525             -74.046305   29444  Subscriber
1                 40.726012             -74.050389   26305  Subscriber
2                 40.726012             -74.050389   29268    Customer
3                 40.719282             -74.071262   29278    Customer
4                 40.714584             -74.042817   29276  Subscriber
...                     ...                    ...     ...         ...
25072             40.714584             -74.042817   42250  Subscriber
25073             40.728745             -74.032108   42396    Customer
25074             40.728745             -74.032108   42331    Customer
25075             40.722104             -74.071455   40517  Subscriber
25076             40.721525             -74.046305   42314  Subscriber

       birth year   gender  Age Age Group
0            1984   Female   39     30-39
1            1989   Female   34     30-39
2            1989     Male   34     30-39
3            1969  Unknown   54     50-59
4            1983   Female   40     30-39
...           ...      ...  ...       ...
25072        1992     Male   31     30-39
25073        1997     Male   26     20-29
25074        1987     Male   36     30-39
25075        1999     Male   24     20-29
25076        1976     Male   47     40-49

[101046 rows x 17 columns]

In [164]:
# Extract the date and monthcomponent from the starttimecolumn
all_months_df['Date'] = pd.to_datetime(all_months_df['starttime']).dt.date
all_months_df['Month'] = pd.to_datetime(all_months_df['starttime']).dt.strftime('%b')

In [165]:
# Group the age groups and gender to count occurrences 
age_gender_month = all_months_df.groupby(['Month','Age Group', 'gender']).size().reset_index(name='Count')

In [166]:
#Display results
print(age_gender_month)

   Month Age Group   gender  Count
0    Apr     16-19   Female      0
1    Apr     16-19     Male      0
2    Apr     16-19  Unknown      0
3    Apr     20-29   Female    443
4    Apr     20-29     Male    678
..   ...       ...      ...    ...
85   May     50-59     Male   1605
86   May     50-59  Unknown   5455
87   May       60+   Female    217
88   May       60+     Male   1069
89   May       60+  Unknown      0

[90 rows x 4 columns]

In [167]:
print(all_months_df)

       tripduration                 starttime                  stoptime  \
0               226  2020-01-01 00:04:50.1920  2020-01-01 00:08:37.0370
1               377  2020-01-01 00:16:01.6700  2020-01-01 00:22:19.0800
2               288  2020-01-01 00:17:33.8770  2020-01-01 00:22:22.4420
3               435  2020-01-01 00:32:05.9020  2020-01-01 00:39:21.0660
4               231  2020-01-01 00:46:19.6780  2020-01-01 00:50:11.3440
...             ...                       ...                       ...
25072           395  2020-05-31 23:35:50.9460  2020-05-31 23:42:26.5300
25073          1681  2020-05-31 23:38:30.8240  2020-06-01 00:06:32.0360
25074          1657  2020-05-31 23:39:07.2680  2020-06-01 00:06:44.5740
25075           420  2020-05-31 23:45:28.3290  2020-05-31 23:52:28.3680
25076            87  2020-05-31 23:50:55.8390  2020-05-31 23:52:23.0920

       start station id start station name  start station latitude  \
0                  3186      Grove St PATH               40.719586
1                  3186      Grove St PATH               40.719586
2                  3186      Grove St PATH               40.719586
3                  3195            Sip Ave               40.730897
4                  3186      Grove St PATH               40.719586
...                 ...                ...                     ...
25072              3202       Newport PATH               40.727224
25073              3199       Newport Pkwy               40.728745
25074              3199       Newport Pkwy               40.728745
25075              3195            Sip Ave               40.730897
25076              3272       Jersey & 3rd               40.723332

       start station longitude  end station id  end station name  \
0                   -74.043117            3211        Newark Ave
1                   -74.043117            3269   Brunswick & 6th
2                   -74.043117            3269   Brunswick & 6th
3                   -74.063913            3280       Astor Place
4                   -74.043117            3276  Marin Light Rail
...                        ...             ...               ...
25072               -74.033759            3276  Marin Light Rail
25073               -74.032108            3199      Newport Pkwy
25074               -74.032108            3199      Newport Pkwy
25075               -74.063913            3679        Bergen Ave
25076               -74.045953            3211        Newark Ave

       end station latitude  end station longitude  bikeid    usertype  \
0                 40.721525             -74.046305   29444  Subscriber
1                 40.726012             -74.050389   26305  Subscriber
2                 40.726012             -74.050389   29268    Customer
3                 40.719282             -74.071262   29278    Customer
4                 40.714584             -74.042817   29276  Subscriber
...                     ...                    ...     ...         ...
25072             40.714584             -74.042817   42250  Subscriber
25073             40.728745             -74.032108   42396    Customer
25074             40.728745             -74.032108   42331    Customer
25075             40.722104             -74.071455   40517  Subscriber
25076             40.721525             -74.046305   42314  Subscriber

       birth year   gender  Age Age Group        Date Month
0            1984   Female   39     30-39  2020-01-01   Jan
1            1989   Female   34     30-39  2020-01-01   Jan
2            1989     Male   34     30-39  2020-01-01   Jan
3            1969  Unknown   54     50-59  2020-01-01   Jan
4            1983   Female   40     30-39  2020-01-01   Jan
...           ...      ...  ...       ...         ...   ...
25072        1992     Male   31     30-39  2020-05-31   May
25073        1997     Male   26     20-29  2020-05-31   May
25074        1987     Male   36     30-39  2020-05-31   May
25075        1999     Male   24     20-29  2020-05-31   May
25076        1976     Male   47     40-49  2020-05-31   May

[101046 rows x 19 columns]

In [169]:
# Find the total number of trips taken per month
trips_per_month = all_months_df.groupby('Month').size()
print(trips_per_month)

Month
Apr     9268
Feb    22962
Jan    26020
Mar    17719
May    25077
dtype: int64

In [170]:
total_trips = len(all_months_df)
print(total_trips)

101046

In [173]:
all_months_df['Total Trips'] = total_trips

In [174]:
all_months_df['Trips per Month'] = all_months_df['Month'].map(trips_per_month)

In [175]:
# Save the updated df to a csv file 
all_months_df.to_csv('Resources/new_data.csv', index=False)